/* Général */
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > main {
    padding: 1ch;
    flex-grow: 1;
}

footer {
    border-top: solid black 1px;
    text-align: center;
}

/* Nav */
nav ul {
    display: flex;
    flex-direction: row;

    list-style: none;
    padding: 0.5rem 2ch;
    margin: 0;
    gap: 2ch;

    background-color: black;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
}
nav a:hover {
    transform: scale(1.1);
}

/* Article form */
.article-form > div:not(:last-child) {
    margin-bottom: 0.5ch;
}

.article-form > div > label {
    font-size: 1.1em;
}
.article-form > div > label::after {
    content: ':';
    margin-left: 0.3ch;
}

.article-form > div > input, .article-form > div > textarea {
    width: 100%;
    outline: none;
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 3px;
}
.article-form > div > input:focus, .article-form > div > textarea:focus {
    border-width: 2px;
    padding: 2px;
}

.article-form > div > textarea {
    resize: none;
    min-height: 20em;
}

.article-form .error {
    color: crimson;
    font-style: oblique;
}