<%- include('../partial/_header.ejs') %>

<h1>Liste des articles</h1>
<a href="/article/new">Créer un article</a>

<section class="article-cards">

    <a href="/article/detail/test">
        <article class="article-card">
            <p class="title">Titre article</p>
            <p class="author">Della Duck</p>
            <p class="desc">Ceci est une description</p>
            <p class="update-date">01-01-2024</p>
        </article>
    </a>

    
    <a href="/article/detail/test">
        <article class="article-card">
            <p class="title">Titre article</p>
            <p class="author">Della Duck</p>
            <p class="desc">Ceci est une description</p>
            <p class="update-date">01-01-2024</p>
        </article>
    </a>
    
    <a href="/article/detail/test">
        <article class="article-card">
            <p class="title">Titre article</p>
            <p class="author">Della Duck</p>
            <p class="desc">Ceci est une description</p>
            <p class="update-date">01-01-2024</p>
        </article>
    </a>

</section>


<%- include('../partial/_footer.ejs') %>